
@font-face {
    font-family:"Scandia Medium";
    src:url("Scandia-Medium.woff2") format("woff2"),url("Scandia-Medium.woff") format("woff"),url("Scandia-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        