
@font-face {
    font-family:"Scandia Bold";
    src:url("Scandia-Bold.woff2") format("woff2"),url("Scandia-Bold.woff") format("woff"),url("Scandia-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        