@import "global";

.audit-hero-section {
  display: block;
  position: relative;
  width: 100%;
  padding: $spacing-small;
  background-color: $color-black;

  @include devices(computer) {
    padding: $spacing-large;
  }

  .inner-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    align-items: center;

    @include devices(computer) {
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: $spacing-small;
    }

    .col-one {
      flex: 0 1 auto;
      color: $color-white;

      @include devices(computer) {
        // width: 60%;
        max-width: 500px;
        // padding: $spacing-small;
      }

      .list-item {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: $spacing-large;

        .icon {
          display: block;
          flex: 0 0 auto;
          width: 30px;
          margin-right: $spacing-small;

          img {
            display: block;
            width: 100%;
            height: auto;
            font-size: 0;
          }
        }

        .content {
          display: block;
          flex: 0 1 auto;

          h2 {
            font-size: 24px;
            line-height: 1.2916666667;
            font-family: $ScandiaMedium;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }

    .col-two {
      flex: 0 1 auto;

      @include devices(computer) {
        width: 40%;
        // padding: $spacing-small;
      }

      .form-container {
        background-color: $color-white;
        padding: $spacing-small;
        border-radius: 3px;

        @include devices(computer) {
          padding: $spacing-medium;
        }

        h2 {
          font-size: 16px;
          line-height: 2.25;
          text-align: center;
          margin-top: 0;
          text-align: left;

          @include devices(computer) {
            font-size: 21px;
            line-height: 1.5238095238;
          }
        }

        form {
          display: block;

          label {
            display: block;
            font-family: $ScandiaBold;
            font-size: 10px;
            line-height: 1;
            font-weight: 700;
            margin-bottom: $spacing-large;
            text-transform: uppercase;

            input,
            textarea {
              display: block;
              width: 100%;
              font-family: $AbhayaLibre;
              font-size: 16px;
              line-height: 48px;
              color: $color-grey;
              padding: 0 $spacing-small;
              border: 1px solid $color-light-grey;
              border-radius: 3px;
              margin-top: $spacing-extra-small;
            }

            textarea {
              padding: $spacing-small;
              line-height: 1.5;
            }
          }

          button {
            width: 100%;
            // display: block;
            // font-family: $ScandiaBold;
            // font-size: 16px;
            // line-height: 48px;
            // font-weight: 700;
            // padding: 0 $spacing-small;
            // max-width: 100%;
            // width: 100%;
            -webkit-box-shadow: 2px 0px 15px 0px rgba(0,0,0,0.24);
            -moz-box-shadow: 2px 0px 15px 0px rgba(0,0,0,0.24);
            box-shadow: 2px 0px 15px 0px rgba(0,0,0,0.24);
          }
        }
      }
    }
  }
}