$color-black: #000;
$color-grey: #999;
$color-light-grey: #DADADA;
$color-white: #fff;
$color-red: #ff0000;
$color-blue: #176BFF;
$color-green: #00ff00;


$color-wf-blue: #0045FF;
$color-whizz-green: #4CB9CE;
