@import "./buttons.scss";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: $color-white;
  @include devices(computer) {
    background-image: none;
  }
  .container {
    justify-content: space-between;
    @include devices(ipad) {
      flex-direction: row;
    }
    .navbar-brand {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      a[title="logo"] {
        flex: 0 1 auto;
      }
      @include devices(ipad) {
        flex: 0;
      }
    }
    button.navbar-burger {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      outline: none;
      background-color: unset;
      filter: none;
      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: 100ms linear all;
        transform: translate3d(0,0,0) rotate(0);
        background-color: $color-black;
        &.top {
          top: 0;
        }
        &.middle {
          top: calc(50% - 1px);
        }
        &.bottom {
          top: calc(100% - 2px);
        }
      }
      @include devices(ipad) {
        display: none;
      }
    }
    .navbar-menu {
      display: flex;
      flex-flow: column nowrap;
      transform: translateX(120%);
      transition: 100ms linear all;
      position: fixed;
      top: 75px;
      padding: $spacing-medium;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: space-between;
      background-color: $color-white;
      @include devices(ipad) {
        transform: none;
        position: initial;
        padding: 0;
        transition: 0ms linear all;
      }
      &.is-active {
        transform: translateX(0%);
      }
      .navbar-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 0 1 auto;
        @include devices(ipad) {
          flex-direction: row;
        }
        .navbar-item {
          text-decoration: none;
          padding: $spacing-extra-small 0;
          color: $color-black;
          font-family: $ScandiaMedium;

          &.active {
            text-decoration: underline;
          }

          @include devices(ipad) {
            padding-left: 1em;
            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }
    .get-in-touch {
      @include devices(ipad) {
        display: none;
      }
    }
    .navbar-footer {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      flex: 0 1 auto;
      font-family: $ScandiaMedium;
      .links-bar {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 1 auto;
        width: 100%;
        justify-content: space-between;
        a.phone-number {
          flex: 0 1 auto;
          text-decoration: none;
        }
        .social-icons {
          flex: 0 1 auto;
          font-size: 0;
          a {
            display: inline-block;
            width: 22px;
            height: 22px;
            svg {
              path {
                fill: $color-black;
              }
            }
          }
        }
      }
      .address {
        flex: 0 1 auto;
        width: 100%;
        color: $color-black;
      }
      @include devices(ipad) {
        display: none;
      }
    }
    .is-active {
      .top {
        transform:translate3d(-8px,14px,0) rotate(90deg);
        width: 85%;
      }
      .middle {
        transform: rotate(50deg);
      }
      .bottom {
        transform:translate3d(12px,-14px,0) rotate(-90deg);
        width: 85%;
      }
    }
  }
}
