@import "global";

#organic-search-audit {
  #row-two {
    display: block;
    position: relative;
    width: 100%;
    padding: $spacing-small;
    @include devices(computer) {
      padding: $spacing-large;
    }
    .outer-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .col-one {
        flex: 0 1 auto;
        width: 100%;
        h2 {
          font-family: $ScandiaMedium;
          font-size: 36px;
          line-height: 1.4444444444;
          font-weight: 500;
          max-width: 600px;
          span {
            display: block;
            font-size: 36px;
            line-height: 1.4444444444;
          }
        }
      }
      .col-two {
        flex: 0 1 auto;
        padding: $spacing-large;
        .list-item {
          display: flex;
          flex-flow: row nowrap;
          margin: 0 0 $spacing-large 0;
          .circle {
            display: block;
            width: 30px;
            height: 30px;
            flex: 0 0 auto;
            border-radius: 50%;
          }
          p {
            flex: 0 1 auto;
            font-size: 18px;
            line-height: 1.6666666667;
            margin: 0 0 0 $spacing-medium;

          }
          &.vanguard {
            .circle {
              background-color: #333;
            }
          }
          &.blackrock {
            .circle {
              background-color: $color-black;
            }
          }
          &.fidelity {
            .circle {
              background-color: $color-blue;
            }
          }
        }
      }
      .col-three {
        flex: 0 1 auto;
        position: relative;
        width: 100%;
        @include devices(computer) {
          width: 50%;
          max-width: 532px;
        }
      }
    }
  }
  #row-three {
    display: block;
    position: relative;
    width: 100%;
    background-color: $color-black;
    padding: $spacing-large;
    .outer-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      @include devices(computer) {
        max-width: 600px;
      }
      .col-one {
        display: block;
        flex: 0 1 auto;
        width: 100%;
        max-width: 100%;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  #row-four {
    display: block;
    position: relative;
    width: 100%;
    background-color: $color-white;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  #row-five {
    display: block;
    position: relative;
    width: 100%;
    background-color: unset;
    padding: $spacing-small;
    @include devices(computer) {
      padding: $spacing-extra-large;
    }
    .outer-container {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      justify-content: center;
      align-items: center;
      .col-one {
        flex: 0 1 auto;
        text-align: center;
        h3 {
          font-family: $AbhayaLibre;
          @include responsive-font(2vw, 30px, 30px);
        }
        a.btn {
          align-self: center;
        }
      }
    }
  }
}